UDPReceiver/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58745/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EksamenSoapService" />
  <xs:element name="GetDoorInfoByDoorNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="doorNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoorInfoByDoorNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EksamenSoapService" minOccurs="0" name="GetDoorInfoByDoorNumberResult" nillable="true" type="q1:ArrayOfDoorInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDataFB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoorNumber" type="xs:int" />
        <xs:element minOccurs="0" name="OutGoing" type="xs:int" />
        <xs:element minOccurs="0" name="InGoing" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDataFBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertDataFBResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInfoDB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInfoDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EksamenSoapService" minOccurs="0" name="GetAllInfoDBResult" nillable="true" type="q2:ArrayOfDoorInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EksamenSoapService" minOccurs="0" name="info" nillable="true" type="q3:DoorInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EksamenSoapService" minOccurs="0" name="GetAllInfoResult" nillable="true" type="q4:ArrayOfDoorInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>