UDPReceiver/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EksamenSoapService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EksamenSoapService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDoorInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DoorInfo" nillable="true" type="tns:DoorInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDoorInfo" nillable="true" type="tns:ArrayOfDoorInfo" />
  <xs:complexType name="DoorInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DoorNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InGoing" type="xs:int" />
      <xs:element minOccurs="0" name="OutGoing" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DoorInfo" nillable="true" type="tns:DoorInfo" />
</xs:schema>